@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>The Joel Hilton Film Collection</title>
    <link href="css/site.css" rel="stylesheet" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/popcorn favicon-01.png">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <!-- Title and introduction to site -->
    <h1>The Joel Hilton Film Collection</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Director</th>
                    <th>Year</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>Lent To</th>
                    <th>Copy To Plex</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        
                        <td> <a asp-action="Edit" class="btn btn-primary" asp-route-id="@movie.MovieId">Edit</a> </td>
                        <td>@movie.Title</td>
                        <td>@movie.Director</td>
                        <td>@movie.Year</td>
                        <td>@(movie.Rating ?? "N/A")</td>
                        <td>@(movie.Edited == 1 ? "Yes" : "No")</td>
                        <td>@(movie.LentTo ?? "N/A")</td>
                        <td>@(movie.CopiedToPlex ?? "N/A")</td>
                        <td>@(movie.Notes ?? "N/A")</td>
                        <td>
                         
                            <a asp-action="Delete" class="btn btn-danger" asp-route-id="@movie.MovieId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <img src="~/joel hilton.jpg" alt="Joel Hilton">
</body>
</html>
